{
  "extends": "@antfu",
  "rules": {
      "indent": [2, 4],
      "@typescript-eslint/indent": ["error", 4],
      "no-console": "off",
      "no-restricted-syntax": "off",
      "vue/html-indent": ["error", 4],
      "vue/max-attributes-per-line": [
        "error", 
        {
          "singleline": {
            "max": 1
          },      
          "multiline": {
            "max": 1
          }
        }
      ],
      "vue/component-name-in-template-casing": ["error", "PascalCase", {
        "registeredComponentsOnly": false,
        "ignores": []
      }],
      "vue/no-mutating-props": "off",
      "vue/no-deprecated-slot-attribute": "off",
      "vue/no-restricted-v-bind": "off",
      "vue/block-tag-newline": "off",
      "vue/custom-event-name-casing": "off"
  }
}
